@import '../../../assets/sass/resources';

.container {
  [type='checkbox'] {
    width: 2.4rem;
    height: 2.4rem;
    color: $color-white;
    vertical-align: middle;
    -webkit-appearance: none;
    background: none;
    border: 0;
    outline: 0;
    flex-grow: 0;
    border-radius: 0.5rem;
    background-color: #ffffff;
    transition: background 300ms;
    cursor: pointer;

    &:hover {
      &::before {
        box-shadow: inset 0 0 0 1px $color-pink;
      }
    }

    &::before {
      content: '';
      color: transparent;
      display: block;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      border: 0;
      background-color: transparent;
      background-size: contain;
      box-shadow: inset 0 0 0 1px $color-light-gray;
      transition: 0.5s box-shadow ease;
    }

    &:checked {
      background-color: currentcolor;

      &::before {
        // box-shadow: none;
        // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
        content: 'v';
        font-family: $font-family;
        color: $color-text;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $text-description;
      }
    }

    &:disabled {
      background-color: $color-light-gray;
      opacity: 0.84;
      cursor: not-allowed;
    }

    &::-ms-check {
      content: '';
      color: transparent;
      display: block;
      width: inherit;
      height: inherit;
      border-radius: inherit;
      border: 0;
      background-color: transparent;
      background-size: contain;
      box-shadow: inset 0 0 0 1px $color-light-gray;
    }

    &:checked::-ms-check {
      box-shadow: none;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
    }
  }
}
