.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    align-self: flex-start;
    margin-bottom: 2rem;
  }

  .grandTotal {
    margin: 2rem 0;
  }
}
