@import '../../assets/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 2rem;

  .title {
    color: $color-dark-gray;
  }

  .orderNumberMsg {
    color: $color-dark-gray;
    .orderNumber {
      color: $color-text;
    }
  }
}
