@import '../../../assets/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  .price,
  .total {
    font-size: $text-description;
    margin-top: 0.5rem;
    color: $color-dark-gray;
  }

  .total {
    margin-bottom: 1rem;
  }

  .optionsItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;

    display: grid;
    grid-template-columns: auto auto;
  }
}
