@import '../../../../assets/sass/resources';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  background-color: $color-white;

  width: 16rem;

  border-radius: 1rem;

  .image {
    height: 8rem;
    margin-bottom: 1rem;
  }

  .name {
    font-size: 1.36rem;
    margin-bottom: 1rem;
    text-align: center;
    min-width: 110px;
  }
}
