@import 'colors';
@import 'sizes';
@import 'font';

:global(body) {
  margin: 0;
  font-family: $font-family;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; // fallback
  font-size: var(--text-html, 62.5%);
  // width: 98.4vw;
  overflow-x: hidden;

  #__next {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

body {
  font-size: var(--text-body, $text-body);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  hyphens: auto;
}

// theme
body {
  background-color: $color-bg;
  color: $color-text;
}
