$color-background-alpha: rgba(111, 206, 210, 10%);
$color-primary: #6fced2;

$color-white: #fff;
$color-bg: #f1fafb;
$color-blue: #6fced2;
$color-yellow: #f6de7e;
$color-pink: #f37da0;
$color-green: #6af59c;
$color-purple: #ebbbed;
$color-orange: #f49381;
$color-light-gray: #ccc;
$color-gray: #a5a5a5;
$color-dark-gray: #555;
$color-text: #333;

$color-red: #ff7057;


