$text-html: 62.5%;

$text-h1: 3.575rem;
$text-h2: 2.75rem;
$text-h3: 2.5rem;
$text-h4: 2.25rem;
$text-h5: 2rem;
$text-h6: 1.8rem;
$text-body: 1.6rem;
$text-description: 1.4rem;
$text-caption: 1.28rem;
$text-small: 1.024rem;

:root,
:root body[data-theme='light'] {
  --text-html: #{$text-html};

  --text-h1: #{$text-h1};
  --text-h2: #{$text-h2};
  --text-h3: #{$text-h3};
  --text-h4: #{$text-h4};
  --text-h5: #{$text-h5};
  --text-h6: #{$text-h6};
  --text-body: #{$text-body};
  --text-description: #{$text-description};
  --text-caption: #{$text-caption};
  --text-small: #{$text-small};
}
