// abstracts
@import './colors';

// reset
@import './reset';

@import './sizes';

// base
@import './base';

html,
body {
  // mobile only
  max-width: 768px;
  width: 768px;
  background-color: white;
}
